appdirs==1.4.4
Brotli==1.0.9
click==8.0.3
decorator==5.1.1
Flask==2.0.2
Flask-Compress==1.10.1
Flask-Humanize==0.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
humanize==4.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
pbr==5.8.1
psutil==5.9.0
pyparsing==3.0.7
python-utils==3.1.0
six==1.16.0
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
Werkzeug==2.0.3
WTForms==3.0.1
